h1{
  font-size:50px;
  color:white;
}
#workPlz{
  display:flex;
  justify-content:center;
}
.funny{
  height:500px;
  width:500px;
}
#words{
  color:white;
  font-size:25px;
}
#top{
  display:flex;
  justify-content:space-around;
  color:yellow;
  font-size:25px;
}
#open{
  display:flex;
  justify-content:center;
}
#words{
  display:flex;
  justify-content:center;
}
#lol{
  display:flex;
  justify-content:center;
}
#numberOne{
  display:flex;
  justify-content:space-between;
  color:yellow;
  font-size:15px;
}