h1{
  font-size:50px;
  font-family: 'Unlock', cursive;
  color:white;
  background-color:red;
}
#workPlz{
  display:flex;
  justify-content:center;
}
.funny{
  height:500px;
  width:500px;
}
#words{
  color:white;
  background-color:red;
  font-size:25px;
  font-family: 'Unlock', cursive;
}
#top{
  display:flex;
  justify-content:space-around;
  color:#f4ee42;
  font-family: 'Bungee', cursive;
  background-color:black;
  font-size:25px;
}
#open{
  display:flex;
  justify-content:center;
}
#words{
  display:flex;
  justify-content:center;
}
#lol{
  display:flex;
  justify-content:center;
}
#numberOne{
  display:flex;
  justify-content:space-between;
  background-color:black;
  color:#f4ee42;
  font-family: 'Bungee', cursive;
  font-size:15px;
}