h1{
  font-size:50px;
  font-family: 'Unlock', cursive;
  background-color:white;
}
#workPlz{
  display:flex;
  justify-content:center;
}
.funny{
  height:500px;
  width:500px;
}
#words{
  background-color:white;
  font-size:25px;
  font-family: 'Unlock', cursive;
  border-radius:100px;
}
#top{
  display:flex;
  justify-content:space-around;
  color:#f4ee42;
  font-family: 'Bungee', cursive;
  background-color:black;
  font-size:25px;
  border-radius:100px;

}
#open{
  display:flex;
  justify-content:center;
}
#words{
  display:flex;
  justify-content:center;
}
#lol{
  display:flex;
  justify-content:center;
}
#numberOne{
  display:flex;
  justify-content:space-between;
  background-color:black;
  color:#f4ee42;
  font-family: 'Bungee', cursive;
  font-size:15px;
}
#result{
  display:flex;
  justify-content:center;
  background-color:white;
  font-family: 'Bungee', cursive;
  border-radius:100px;
}
#play{
  display:flex;
  justify-content:center;
}